/* ==|== menu ==== */

/* ==========================================================================
  									Main menu
   ========================================================================== */

/* Header */
header #header-menu {
    text-align: left;
    padding-top: 10px;
    height: 36px;
}

header #header-menu ul.menu {
    overflow: hidden;
}

header #header-menu ul.menu li {
    float: left;
    padding: 0 15px;
    border-left: 1px solid #9c9c9c;
}

header #header-menu ul.menu li:first-child {
    border-left: none;
}

header #header-menu ul.menu li a {
    color: #898989;
    font-size: 13px;
}

header #header-menu ul.menu li.active a,
header #header-menu ul.menu li a:hover {
    color: #FFFFFF;
}


/* Navigation principale */

#container-navigation #navigation .menu li ul li ul{
	display:none;
}

#container-navigation {
    height: 31px;
    background: #1f2929;
}

#container-navigation nav {
    width: 954px;
    margin: auto;
}

#container-navigation nav ul.menu {
    overflow: hidden;
}

#container-navigation nav ul.menu li.parent {
    float: left;
    width: 190px;
    margin-left: 1px;
}

#container-navigation nav ul.menu li.parent:first-child {
    margin-left: 0;
}

#container-navigation nav ul.menu li.parent span.separator {
    display: block;
    text-align: center;
    height: 28px;
    padding-top: 3px;
    color: #FFFFFF;
    text-transform: uppercase; 
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
}

#container-navigation nav ul.menu li.parent ul {
    position: absolute;
    z-index: 10;
    width: 186px;
    left: -999px;
}

#container-navigation nav ul.menu li.parent:hover ul {
    display: block;
    left: auto;
}

#container-navigation nav ul.menu li.parent ul li a {
    display: block;
    min-height: 22px;
    padding: 2px 25px 0 15px;
    font-family: 'Abel';
    font-size: 16px;
}

/* Couleurs des nav */
#container-navigation nav ul.menu li.parent.nav-1 { background: #4ca114; }
#container-navigation nav ul.menu li.parent.nav-2 { background: #db800c; }
#container-navigation nav ul.menu li.parent.nav-3 { background: #bd57b3; }
#container-navigation nav ul.menu li.parent.nav-4 { background: #4689b9; }
#container-navigation nav ul.menu li.parent.nav-5 { background: #9d3c25; }

#container-navigation nav ul.menu li.parent.nav-1 ul {
    border: 2px solid #4ca114;
    border-bottom: 1px solid #4ca114;
    background: #6dcd2f;
}
#container-navigation nav ul.menu li.parent.nav-2 ul {
    border: 2px solid #db800c;
    border-bottom: 1px solid #db800c;
    background: #e59e42;
}
#container-navigation nav ul.menu li.parent.nav-3 ul {
    border: 2px solid #bd57b3;
    border-bottom: 1px solid #bd57b3;
    background: #dc6ed1;
}
#container-navigation nav ul.menu li.parent.nav-4 ul {
    border: 2px solid #4689b9;
    border-bottom: 1px solid #4689b9;
    background: #60a7da;
}
#container-navigation nav ul.menu li.parent.nav-5 ul {
    border: 2px solid #9d3c25;
    border-bottom: 1px solid #9d3c25;
    background: #bf563d;
}

#container-navigation nav ul.menu li.parent.nav-1 ul li a {
    border-bottom: 1px solid #4ca114;
    color: #1f2929;
    background: url('../images/fleche-nav-1.png') right center no-repeat;
}
#container-navigation nav ul.menu li.parent.nav-1 ul li a:hover {
    background: #4ca114 url('../images/fleche-nav-1.png') right center no-repeat;
}

#container-navigation nav ul.menu li.parent.nav-2 ul li a {
    border-bottom: 1px solid #db800c;
    color: #1f2929;
    background: url('../images/fleche-nav-2.png') right center no-repeat;
}
#container-navigation nav ul.menu li.parent.nav-2 ul li a:hover {
    background: #db800c url('../images/fleche-nav-2.png') right center no-repeat;
}

#container-navigation nav ul.menu li.parent.nav-3 ul li a {
    border-bottom: 1px solid #bd57b3;
    color: #1f2929;
    background: url('../images/fleche-nav-3.png') right center no-repeat;
}
#container-navigation nav ul.menu li.parent.nav-3 ul li a:hover {
    background: #bd57b3 url('../images/fleche-nav-3.png') right center no-repeat;
}

#container-navigation nav ul.menu li.parent.nav-4 ul li a {
    border-bottom: 1px solid #4689b9;
    color: #1f2929;
    background: url('../images/fleche-nav-4.png') right center no-repeat;
}
#container-navigation nav ul.menu li.parent.nav-4 ul li a:hover {
    background: #4689b9 url('../images/fleche-nav-4.png') right center no-repeat;
}

#container-navigation nav ul.menu li.parent.nav-5 ul li a {
    border-bottom: 1px solid #9d3c25;
    color: #1f2929;
    background: url('../images/fleche-nav-5.png') right center no-repeat;
}
#container-navigation nav ul.menu li.parent.nav-5 ul li a:hover {
    background: #9d3c25 url('../images/fleche-nav-5.png') right center no-repeat;
}

/* Menu gauche */
#left {
    float: left;
    width: 195px;
    padding-top: 37px;
}

.titre-menu {
    text-transform: uppercase;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    padding-left: 15px;
}

#left ul.menu {
    border-top: 1px solid #c1c3c3;
    
}

#left ul.menu li {
    border-bottom: 1px solid #c1c3c3;
}

#left ul.menu li a {
    min-height: 24px;
    padding: 2px 30px 0 15px;
    display: block;
    width: 150px;
    font-size: 16px;
    color: #1f2929;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    background: url('../images/fleche-gauche-off.png') center right no-repeat;
}


#left ul.menu li.active.parent ul li a{
	color: #1F2929;
	background: url('../images/fleche-gauche-off.png') 94% 50% no-repeat;
	margin-left: 10px;
}

body #left ul.menu li.current.active.parent ul li a{
	color: #1F2929 !important;
	background: url('../images/fleche-gauche-off.png') 94% 50% no-repeat;
}


/*#left ul.menu li.active.parent ul li.current.active.jaune a{
	color: #db800c;
	background: url('../images/fleche-gauche-orange.png') 94% 50% no-repeat;
}

#left ul.menu li.active.parent ul li.current.active.vert a{
	color: #408C0D;
	background: url('../images/fleche-gauche-vert.png') 94% 50% no-repeat;
}*/



/*Menu-actus*/

#menu-actu{ list-style:none; margin:14px 0 0 0; padding: 0; border-top:solid 1px #e8e9e9; border-bottom:solid 1px #e8e9e9; float:left; margin-bottom: 20px;}

#menu-actu li{float:left; padding:5px 17px 5px 8px; margin-right:10px; background:url('../images/blog-ssmenu-item-rose-qsn.png') right 10px no-repeat; display:inline-block;}

#menu-actu li a {color:#353e3e; font-family: 'Abel'; font-size: 16px; font-weight: 400;}

#menu-actu li.active a {color:#b94664; }


/*Menu-reportage*/

#menu-reportage{ list-style:none; margin:14px 0 0 0; padding: 0; border-top:solid 1px #e8e9e9; border-bottom:solid 1px #e8e9e9; float:left; margin-bottom: 20px;}

#menu-reportage li{float:left; padding:5px 17px 5px 8px; margin-right:10px; background:url('../images/blog-ssmenu-item-rose-qsn.png') right 10px no-repeat; display:inline-block;}

#menu-reportage li a {color:#353e3e; font-family: 'Abel'; font-size: 16px; font-weight: 400;}

#menu-reportage li.active a {color:#b94664; }



