/* ==|== module ==== */

/* Navflash */

#navflashwrapper {
  display: block;
  margin-bottom: -3px;
  margin-top: -8px;
  text-align: center;
  width: 100%;
}

#navflash {
  width:100%;
  text-align:center;
  display:none;
}

#navflashwrapper.expanded .navflashalt {
  display: none;
}  

#navflashwrapper.expanded #navflash {
  display: block;
}

#navflashwrapper .toggle-expand {
  position: absolute;
  top: 40px;
  right: 5%;
}

#navflashwrapper .collapse {
  display: none;
}

#navflashwrapper .expand {
  display: block;
}    

#navflashwrapper.expanded .collapse {
  display: block;
}

#navflashwrapper.expanded .expand {
  display: none;
}  

/* Search + Partage */
#top .top .share-bloc {
    float: left;
}

.titre-abel {
    font-size: 20px;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
}

.chp-search {
    width: 267px;
    height: 20px;
    border: 1px solid #898989;
    background: #1f2929;
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
    padding:0 8px;
    font-family: Verdana, Arial, Helvetica, sans-serif; 
}

#top .top .search-bloc {
    float: right;
}


/* Slideshow */
#top .slideshow {
    margin-top: 28px;
    padding-bottom: 40px;
}

#top .slideshow .item {
    overflow: hidden;
}

#top .slideshow .bloc-texte {
    float: left;
    width: 370px;
    padding: 0 45px 0 15px;
}

#top .slideshow p.titre {
    display: block;
    float: left;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    padding-right: 35px;
    text-transform: uppercase;
}

#top .slideshow p.titre a {
    display: block;
    float: left;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    padding-right: 35px;
    background: url('../images/btn-readmore-slideshow.gif') center right no-repeat;
    text-transform: uppercase;
}





#top .slideshow .texte {
    clear: left;
    color: #c2e1b3;
}

#top .slideshow .texte strong {
    font-size: 14px;
}

#top .slideshow .lire-suite a {
    display: block;
    float: right;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 11px;
    height: 24px;
    margin-top: 30px;
    padding-right: 35px;
    background: url('../images/btn-readmore-slideshow.gif') center right no-repeat;
}

#top .slideshow .visuel {
    float: right;
}

#top .slideshow .pager {
    overflow: hidden;
}

#top .slideshow .bx-pager a {
    display: block;
    float: left;
    margin-right: 6px;
    width: 16px;
    height: 16px;
    color: transparent;
}

#top .slideshow .bx-pager a.pager-1 {
    background: url('../images/puce-slideshow-1.png') top left no-repeat;
}
#top .slideshow .bx-pager a.pager-1.pager-active {
    background: url('../images/puce-slideshow-1-on.png') top left no-repeat;
}

#top .slideshow .bx-pager a.pager-2 {
    background: url('../images/puce-slideshow-2.png') top left no-repeat;
}
#top .slideshow .bx-pager a.pager-2.pager-active {
    background: url('../images/puce-slideshow-2-on.png') top left no-repeat;
}

#top .slideshow .bx-pager a.pager-3 {
    background: url('../images/puce-slideshow-3.png') top left no-repeat;
}
#top .slideshow .bx-pager a.pager-3.pager-active {
    background: url('../images/puce-slideshow-3-on.png') top left no-repeat;
}

#top .slideshow .bx-pager a.pager-4 {
    background: url('../images/puce-slideshow-4.png') top left no-repeat;
}
#top .slideshow .bx-pager a.pager-4.pager-active {
    background: url('../images/puce-slideshow-4-on.png') top left no-repeat;
}

#top .slideshow .bx-pager a.pager-5 {
    background: url('../images/puce-slideshow-5.png') top left no-repeat;
}
#top .slideshow .bx-pager a.pager-5.pager-active {
    background: url('../images/puce-slideshow-5-on.png') top left no-repeat;
}

/* BLoc actualités */
.container-agenda {
    float: left;
    width: 649px;
}

.bloc-actualite img{
	display:none;
}

.bottom-agenda .module {
    
}

.top-bloc-actualite {
    width: 305px;
    height: 9px;
    margin-top: -9px;
}

.bottom-bloc-actualite {
    width: 305px;
    height: 37px;
}

.bottom-bloc-actualite img {
    width: 305px;
    height: 37px;
    float: left;
}

.top-bloc-actualite img {
    width: 305px;
    height: 9px;
    float: left;
}

.bloc-actualite {
    float: left;
    width: 305px;
    margin-right: 19px;
    background: #353e3e;
    color: #FFFFFF;
}

.ie7 .bloc-actualite{
	float:none;
}

.bloc-actualite p {
    margin: 0;
    padding: 0;
}

.bloc-actualite p.titre {
    color: #e6e6e6;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-left: 15px;
    margin-top: 10px;
}

.bloc-actualite .lien-actualites {
    overflow: hidden;
    margin: 15px 0;
}

.bloc-actualite .lien-actualites a {
    display: block;
    float: right;
    padding-right: 50px;
    height: 22px;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    background: url('../images/fleche-actualite.gif') center right no-repeat;
}

.bloc-actualite .bloc-actualite ul {
    list-style: none;
}

.bloc-actualite ul li a {
    display: block;
    padding: 10px 50px 10px 15px;
    border-top: 1px solid #727878;
    border-bottom: 1px solid #727878;
    background: url('../images/fleche-actualite.gif') center right no-repeat;
}

.bloc-actualite ul li a span {
    color: #ffffff;
}

.bloc-actualite ul li a span.titre-actu {
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.bloc-actualite ul li a span.texte {
    font-size: 11px;
}

.bottom-actualite {
    float: right;
    width: 305px;
}

.bottom-actualite .bloc-actualite {
    margin-right: 0;
}


.search-jeux-bloc td { padding:0px 0 0 34px; }
.search-jeux-bloc td.last { padding-right:0; }
.search-jeux-bloc label { display:inline-block; color:#FFFFFF; padding-top: 8px; }
.search-jeux-bloc input { border:0; width:190px; color:#424443; height:22px; background: url('../images/input-search-bg.png') top left repeat-x; padding:0 8px 0 8px; border:0; font-family: Verdana, Arial, Helvetica, sans-serif; font-size:11px; }
.search-jeux-bloc select { border:0; width:206px; color:#424443; height:20px; background: url('../images/input-search-bg.png') top left repeat-x #e1e1e1; padding:2px 0 0 0; border:0; font-family: Verdana, Arial, Helvetica, sans-serif; font-size:11px; }
.search-jeux-bloc input.date { width:50px; }
.search-jeux-bloc input.submit { border:0; background: url('../images/btn-validez.png') top left no-repeat; width:133px; height: 24px; cursor: pointer; margin-top:10px; }
